server.port: 8888

spring.application.name: config-server

# 해당 설정에서는 지정된 경로 (/config-repo) 에 있는 설정 파일 정보를 기반으로 config server 를 구성
spring.profiles.active: native # 이 부분을 명시적으로 지정하지 않으면 spring cloud config server 는 기본적으로 git 에서 설정 repo 를 찾으려고 함
spring.cloud.config.server.native.searchLocations: file:${PWD}/config-repo # ${PWD}는 linux pwd 와 동일한 역할

# WARNING: Exposing all management endpoints over http should only be used during development, must be locked down in production!
management.endpoint.health.show-details: "ALWAYS"
management.endpoints.web.exposure.include: "*"

logging:
  level:
    root: info

---
spring.config.activate.on-profile: docker
spring.cloud.config.server.native.searchLocations: file:/config-repo
